<!-- ======= Whu Us Section ======= -->
<section id="why-us" class="why-us">
    <div class="container">
        <div class="section-title">
            <h2>Чому ви повинні відвідати <span>ресторан Dolce Vita</span></h2>
            {% for item in about_us %}
            <p>{{ item.description}}</p>
            {% endfor %}
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="box">
                    <span>01</span>
                    <h4>Зручне місцезнаходження</h4>
                    <p>Всього 10 хв їзди від центру Києва і ви вже в прекрасному місці, без метушні, наповненому красою і спокоєм. У цьому океані свіжості і простору, серед багаторічних дерев, на березі мальовничого озера, розташувався величний ресторан «Dolce Vita».</p>
                </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="box">
                    <span>02</span>
                    <h4>Смачна кухня</h4>
                    <p>Як відомо, серцем будь-якого хорошого ресторану завжди була і залишається кухня. І ми не виняток, адже у нас працюють кращі кухарі з високою кваліфікацією. Керує всім цим процесом професіонал з великої літери - шеф Антоніо Батічелло. Для неї найбільшим пріоритетом є приготування зрозумілих страв з найкращих, найсвіжіших продуктів та створення нових неочікуваних смаків та поєднань, що не залишають байдужими.</p>
                </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="box">
                    <span>03</span>
                    <h4>Затишна атмосфера</h4>
                    <p>Класична європейська кухня, делікатеси, страви з печі, що чудово смакують на відкритому повітрі і звичайно ж дитяче меню. По вечорах тут грає жива музика, та щороку проходять знамениті Бал Квітів і Осіння Ярмарок - Традиційні свята для старих і нових друзів ресторану.</p>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Whu Us Section -->